*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

section {
    min-height: 100vh;
    width: 100%;
    position: relative;
    background-color: #2a0b0b;
    display: flex;
    align-items: center;
    justify-content: center;
    color: bisque;
}
.card{
    height: 225px;
    width: 350px;
    position: relative;
    z-index: 100;
    transition: 0.8s;
    transform-style: preserve-3d;
}
.card:hover {
    transform: rotateY(180deg);
}